/__pycache__/
/venv/
/static/resources/*png
/static/resources/*webp
/static/resources/*jpg
/static/resources/products/*jpg
/static/resources/products/*png
/static/resources/products/*svg
/util/__pycache__