.product{
	margin: 20px 30px;
	display: flex;
}

.product img{
	width: 30%;
	height: 43vh;
	margin-right: 30px;
}

.product .title,
.product .price{
	color: var(--black);
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

.product .title{ font-size: 25px; }

.product .price{
	opacity: 0.6;
	font-size: 20px;
}

.product .desc{ margin-left: 30px; }

.product .description{
	color: var(--black);
	margin-top: 30px;
	font-size: 17px;
}

.product .carrito{
	background: var(--black);
	color: var(--white);
	margin-top: 15px;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .56);
	border-radius: 10px;
	cursor: pointer;
}

.product .compra{
	display: flex;
	flex-direction: row;
}

.product .cantidad{
	color: var(--black);
	font-weight: bold;
	margin-left: 60px;
	margin-top: 28px;
	padding-right: 10px;
}

.product .cuadro{
	color: var(--white);
	display: flex;
	height: 35px;
	margin-top: 21px;
}

.product .cuadro1{
	background: var(--black);
	padding: 8px;
	border-radius: 10px 0 0 10px;
	margin-right: 5px;
}

.product .cuadro2{
	background: var(--black);
	padding: 2px 8px;
	border-radius: 0 10px 10px 0;
}

.product i{
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.product hr{
	color: var(--white);
	opacity: 0.5;
}

.datos{	margin: 40px 20px; }

.datos hr{
	color: var(--black);
	opacity: 0.5;
	margin-bottom: 0;
}

.datos .btn{
	display: flex;
	display: inline-flex;
}

.datos .btn .descripcion,
.datos .btn .valoracion {
	border: none;
	font-size: 15px;
	font-weight: bold;
	height: 45px;
	width: 20vh;
	padding: 7px;
	cursor: pointer;
}

.datos .btn .descripcion{
	color: var(--white);
	background: var(--black);
	border-radius: 0 0 12px 12px;
}

.datos .btn .valoracion{
	color: var(--black);
	background: rgba(0, 0, 0, .24);
	border-radius: 0 0 12px 12px;
}

.datos .desc2 p{ color: var(--black); }

.datos .desc2 .title2{
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 40px;
}

.datos .vlr{ margin-top: 40px; }

.datos .vlr label, .datos .vlr p{ color: var(--black); }

.datos .vlr p{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

.datos .vlr .name,
.datos .vlr .email{ display: inline; }

.datos .vlr label{
	margin-right: 6px;
	font-weight: bold;
}

.datos .vlr .name{ margin-right: 90px; }

.datos .vlr .name input{
	width: 25%;
	height: 20px;
	padding: 9px;
	border: none;
	background: rgba(0, 0, 0, 0.078);
	border-radius: 5px;
	color: var(--black);
	outline: none;
}

.datos .vlr .email input{
	width: 38%;
	height: 20px;
	padding: 9px;
	border: none;
	background: rgba(0, 0, 0, 0.078);
	border-radius: 5px;
	color: var(--black);
	outline: none;
}

.datos .vlr .opinion label{
	display: flex;
	margin-top: 10px;
}

.datos .vlr .opinion textarea{
	display: block;
	margin: 1px 9px;
	width: 90%;
	height: 20vh;
	padding: 15px;
	border: none;
	background: rgba(0, 0, 0, 0.078);
	border-radius: 5px;
	color: var(--black);
	outline: none;
	resize: none;
}

.datos .vlr .puntaje{
	margin-top: 13px;
	display: flex;
}

.datos .vlr .puntaje i{
	color: var(--black);
	cursor: pointer;
}

.datos .vlr .enviar input{
	background: var(--black);
	width: 15%;
	color: var(--white);
	margin-top: 15px;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.datos .vlr .enviar{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 18px 110px 25px 0;
}