#footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--black);
	width: 100%;
	padding: 40px 0;
}

.footer1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer2 {
	margin-top: var(--twe);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer1 div > span {
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
}

.footer1 div > a, .footer1 div > p { margin-top: 10px;}
.footer1 > a, .footer1 > p { text-align: justify; }

@media screen and (max-width:991px) {
	.footer1 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		padding: 10px;
	}
}