:root {
  /* Colors */
  --black:     #000000;
  --white:     #ffffff;
  --light:     #eeeeee;
  --darkgray:  #201818;
  --gray2:     #222020;
  --lightblue: #5a84e0;
  --purple:    #cc07bc;

  /* Weight */
  --ten: 10px; 
  --twe: 20px;
  --thi: 30px;
  --fou: 40px;
  --fif: 50px;
  --six: 60px;
  --sev: 70px;
  --eig: 80px;
  --nin: 90px;
  --hun: 100px;
  --r10: 10%;
  --r20: 20%;
  --r30: 30%;
  --r40: 40%;
  --r50: 50%;
  --r60: 60%;
  --r70: 70%;
  --r80: 80%;
  --r90: 90%;
  --r100: 100%;
  --fvw: 100vw;
  --fvh: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');

::-webkit-scrollbar {
  background-color: white;
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-thumb { 
  background-color: rgb(161, 161, 161);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}