<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ title }} | {{ message }}{% endblock %}</title>
  {% block styles  %}{% endblock %}
</head>
<body>
  {% block header     %}{% endblock %}
  {% block carousel   %}{% endblock %}
  {% block categories %}{% endblock %}
  {% block products   %}{% endblock %}
  {% block footer     %}{% endblock %}
  {% block modal      %}{% endblock %}
</body>
{% block scripts %}{% endblock %}
</html>