<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index3/description.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index2/categories.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index/footer.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="{{ url_for('static', filename='js/flickity.min.js') }}"></script>
</head>
<body>
  <section id="header">
    <div class="hd1">
      <img src="/static/{{ logo.base }}" alt="Logo Vaper House" id="logo">
    </div>
    <div class="hd2">
      <div class="hd2_up">
        <div class="hd2_up_left">
          <input type="search" placeholder="Encuentra todo para tu vapeo...">
          <i class='bx bx-search'></i>
        </div>
        <div class="hd2_up_right">
          <div>
            <span>$15.99</span>
            <i class='bx bxs-cart icon' ></i>
          </div>
          <div>
            <span>Mi Cuenta</span>
            <i class='bx bxs-user-circle icon'></i>
          </div>
        </div>
      </div>
      <div class="hd2_down">
        <nav>
          <ul>
            {% for option in options: %}
            <li>{{ option.name }}</li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </section>
  
  <marquee
    class="warning"
    behavior="scroll"
    direction="left"
    scrolldelay="100"
    scrollamount="15"
    >
    {{ warning_msg }}
  </marquee>

  <section id="main">
		{% for description in descriptions %}
			<div class="products">
    		<div class="product">
					<img src="/static/{{ description.img }}" alt="Vandy">
					<div class="desc">
						<p class="title">{{ description.name }}</p>
						<p class="price">$35.00</p>
						<p class="description">
							Vandy Vape Kylin M Pro RTA aumenta la capacidad de e-juice a 8 ml al grabar el CNC dentro del hardware. Utilizando un diseño de entrada de flujo de aire superior, es antifugas. Las bobinas A1 M de 0.2ohm y 0.15ohm están incluidas en el paquete. Es fácil de construir y rellenar.
						</p>
						<div class="compra">
							<button class="carrito">Añadir al carrito</button>
							<p class="cantidad">Cantidad</p>
							<div class="cuadro">
								<div class="cuadro1">1</div>
								<div class="cuadro2">
									<div class="arriba">
										<i class='bx bx-chevron-up'></i>
									</div>
									<hr>
									<div class="abajo">
										<i class='bx bx-chevron-down' ></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

			<div class="datos">
				<hr>
				<div class="btn">
					<button class="descripcion">Descripción</button>
					<button class="valoracion">Valoraciones</button>
				</div>
				<div class="desc2">
					<p class="title2">Descripción</p>
					<p>
						El tanque KYLIN M PRO RTA de VandyVape cuenta con una capacidad de e-juice de 8 ml, una plataforma de construcción estilo abrazadera y utiliza resistencias de lámina de malla para calentar rápidamente y producir vapor. Con capacidad para hasta 8 ml de eLiquid, el Kylin M Pro RTA es el más adecuado para eJuice de base libre, lo que permite el desarrollo del sabor a partir de la resistencia mesh. Utilizando una plataforma de construcción estilo abrazadera, el KYLIN M PRO RTA puede acomodar una resistencia de malla simple, fijada desde los lados con un tornillo Phillips. Equipado con un soporte central de algodón cerámico, el centro accionado por resorte empuja el algodón cargado de jugo directamente contra la lámina de malla para producir un sabor delicioso.
					</p>
				</div>

				<div class="vlr">
					<p>Valoraciones</p>
					<form action="">
						<div class="name">
							<label>Nombre:</label>
							<input type="text">
						</div>
						<div class="email">
							<label>Correo Electrónico:</label>
							<input type="email">
						</div>
						<div class="opinion">
							<label>Tu valoración:</label>
							<textarea></textarea>
						</div>
						<div class="puntaje">
							<label class="pt">Tu puntuación:</label>
							<i class='bx bxs-star'></i>
							<i class='bx bxs-star'></i>
							<i class='bx bxs-star'></i>
							<i class='bx bx-star'></i>
							<i class='bx bx-star'></i>
						</div>
						<div class="enviar">
							<input type="button" value="Enviar">
						</div>
					</form>
				</div>
			</div>
  </section>

  <section id="footer">
    <div class="footer1">
      <div class="footer">
        <div class="more">
          <div class="info">
            <span>Información</span>
            <p>¿Quiénes somos?</p>
            <p>¿Qué ofrecemos?</p>
            <br>
          </div>
          <div class="politica">
            <span>Políticas</span>
            <p>Términos y condiciones</p>
            <p>Políticas de seguridad</p>
            <p>Políticas de Cookies</p>
          </div>
          <div class="pay">
            <span>Métodos de Pago</span>
            <div class="pay2">
              <p><i class='bx bx-credit-card bx-sm'></i></p>
              <p><i class='bx bxl-visa bx-sm' ></i></p>
              <p><i class='bx bxl-paypal bx-sm' ></i></p>
              <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m16.624 13.92l2.717 2.716l-7.353 7.353l-7.352-7.352l2.717-2.717l4.636 4.66l4.635-4.66zm4.637-4.636L24 12l-2.715 2.716L18.568 12l2.693-2.716zm-9.272 0l2.716 2.692l-2.717 2.717L9.272 12l2.716-2.715zm-9.273 0L5.41 12l-2.692 2.692L0 12l2.716-2.716zM11.99.01l7.352 7.33l-2.717 2.715l-4.636-4.636l-4.635 4.66l-2.717-2.716L11.989.011z"/></svg></p>
            </div>
          </div>
          <div class="follow">
            <span>Síguenos</span>
            <p class="instagram"><i class='bx bxl-instagram bx-sm'></i> vaperhouse.vzla</p>
            <p class="facebook"><i class='bx bxl-facebook-circle bx-sm'></i> Vaper House Café</p>
          </div>
        </div>
      </div>
    </div>
		<hr>
    <section id="localidad">
      <div class="lugar">
        <p><i class='bx bx-map bx-sm'></i>  Barrio Obrero carrera 20 entre calles 13 y 14, diagonal al Cine Pirineos, frente a cada Matina</p>
        <p><i class='bx bxl-gmail bx-sm'></i> comprasvaperhouse@gmail.com</p>
        <p><i class='bx bx-phone bx-sm'></i> +58412-1729864 / +58414-7573307</p>
      </div>
    </section>
  </section>

  <!-- <div class="modal_bg">
    <div class="loader"></div>
    <div class="modal_content">
      <h1>ADVERTENCIA</h1>
      <p>Este sitio contiene productos que son indebidos para menores de edad. Confirma que tienes más de 18 años para poder acceder.</p>
      <p>¿Tienes 18 años o más?</p>
      <button id="yes">Sí</button>
      <button id="no">No</button>
    </div>
  </div> -->
</body>
<script src="{{ url_for('static', filename='js/confirm_age.js') }}"></script>
</html>