<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flickity.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="{{ url_for('static', filename='js/flickity.min.js') }}"></script>
</head>
<body>
  <section id="header">
    <div class="hd1">
      <img src="static/{{ logo.base }}" alt="Logo Vaper House" id="logo">
    </div>
    <div class="hd2">
      <div class="hd2_up">
        <div class="hd2_up_left">
          <input type="search" placeholder="Encuentra todo para tu vapeo...">
          <i class='bx bx-search'></i>
        </div>
        <div class="hd2_up_right">
          <div>
            <span>$15.99</span>
            <i class='bx bxs-cart icon' ></i>
          </div>
          <div>
            <span>Mi Cuenta</span>
            <i class='bx bxs-user-circle icon'></i>
          </div>
        </div>
      </div>
      <div class="hd2_down">
        <nav>
          <ul>
            {% for option in options: %}
            <li>{{ option.name }}</li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </section>
  
  <marquee
  class="warning"
  behavior="scroll"
  direction="left"
  scrolldelay="100"
  scrollamount="15"
  >
  {{ warning_msg }}
</marquee>

<section id="main">
  <div class="gallery js-flickity" data-flickity-options='{
    "wrapAround": true,
    "freeScroll": true,
      "autoPlay": true,
      "autoPlay": 2500,
      "draggable": true,
      "selectedAttraction": 0.01,
      "friction": 0.15,
      "fullscreen": true,
      "lazyLoad": 1
    }'>
    {% for file in files %}
    <div class="gallery-cell">
      <img src="static/resources/{{ file }}" alt="">
    </div>
    {% endfor %}
  </div>
  <div class="categories-container">
    {% for category in categories %}
    <div class="category">
      <p>{{ category.name }}</p> 
      <img src="static/{{ category.img }}">
    </div>
    {% endfor %}
  </div>
</section>

  <section id="footer">

  </section>
</body>
<script src="{{ url_for('static', filename='js/confirm_age.js') }}"></script>
</html>