<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flickity.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <script src="{{ url_for('static', filename='js/flickity.min.js') }}"></script>
</head>
<body>
  <section id="header">
    <div class="hd1">
      <img src="static/{{ logo.base }}" alt="Logo Vaper House" id="logo">
    </div>
    <div class="hd2">
      <div class="hd2_up">
        <div class="hd2_up_left">
          <input type="search" placeholder="Encuentra todo para tu vapeo...">
          <i class='bx bx-search'></i>
        </div>
        <div class="hd2_up_right">
          <div>
            <span>$15.99</span>
            <i class='bx bxs-cart icon' ></i>
          </div>
          <div>
            <span>Mi Cuenta</span>
            <i class='bx bxs-user-circle icon'></i>
          </div>
        </div>
      </div>
      <div class="hd2_down">
        <nav>
          <ul>
            {% for option in options: %}
            <li>{{ option.name }}</li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </section>
  
  <marquee
    class="warning"
    behavior="scroll"
    direction="left"
    scrolldelay="100"
    scrollamount="15"
    >
    {{ warning_msg }}
  </marquee>

  <section id="main">
    <div class="gallery js-flickity" data-flickity-options='{
      "wrapAround": true,
      "freeScroll": true,
        "autoPlay": true,
        "autoPlay": 2500,
        "draggable": true,
        "selectedAttraction": 0.01,
        "friction": 0.15,
        "fullscreen": true,
        "lazyLoad": 1
      }'>
      {% for file in files %}
      <div class="gallery-cell">
        <img src="static/resources/{{ file }}" alt="">
      </div>
      {% endfor %}
    </div>
    <div class="categories-container">
      {% for category in categories %}
      <div class="category">
        <p>{{ category.name }}</p>
        <img src="static/{{ category.img }}">
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="products">
    <div class="products">
      <div class="product">
        <figure>
          <img src="/static/resources/products/6e575250e436fd98da66a14db8cf53f5.jpg">
        </figure>
        <div class="contenido">
          <h3>Titulo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias commodi temporibus provident porro itaque saepe, quo repellat quod.</p>
          <span >10.00$</span>
          <a href="#">Añadir al carrito</a>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="product">
        <figure>
          <img src="/static/resources/products/descarga.jpeg">
        </figure>
        <div class="contenido">
          <h3>Titulo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias commodi temporibus provident porro itaque saepe, quo repellat quod.</p>
          <span >10.00$</span>
          <a href="#">Añadir al carrito</a>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="product">
        <figure>
          <img src="/static/resources/products/CBD_05_A.jpg">
        </figure>
        <div class="contenido">
          <h3>Titulo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias commodi temporibus provident porro itaque saepe, quo repellat quod.</p>
          <span >10.00$</span>
          <a href="#">Añadir al carrito</a>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="product">
        <figure>
          <img src="/static/resources/products/draw_svg20210507-22909-pboesy.svg.png">
        </figure>
        <div class="contenido">
          <h3>Titulo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias commodi temporibus provident porro itaque saepe, quo repellat quod.</p>
          <span >10.00$</span>
          <a href="#">Añadir al carrito</a>
        </div>
      </div>
    </div>
  </section>

  <section id="footer">
    <div class="footer1">
      <div class="footer">
        <div class="more">
          <div class="info">
            <span>Información</span>
            <p>¿Quiénes somos?</p>
            <p>¿Qué ofrecemos?</p>
            <br>
          </div>
          <div class="politica">
            <span>Políticas</span>
            <p>Términos y condiciones</p>
            <p>Políticas de seguridad</p>
            <p>Políticas de Cookies</p>
          </div>
          <div class="pay">
            <span>Métodos de Pago</span>
            <div class="pay2">
              <p><i class='bx bx-credit-card bx-sm'></i></p>
              <p><i class='bx bxl-visa bx-sm' ></i></p>
              <p><i class='bx bxl-paypal bx-sm' ></i></p>
              <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m16.624 13.92l2.717 2.716l-7.353 7.353l-7.352-7.352l2.717-2.717l4.636 4.66l4.635-4.66zm4.637-4.636L24 12l-2.715 2.716L18.568 12l2.693-2.716zm-9.272 0l2.716 2.692l-2.717 2.717L9.272 12l2.716-2.715zm-9.273 0L5.41 12l-2.692 2.692L0 12l2.716-2.716zM11.99.01l7.352 7.33l-2.717 2.715l-4.636-4.636l-4.635 4.66l-2.717-2.716L11.989.011z"/></svg></p>
            </div>
          </div>
          <div class="follow">
            <span>Síguenos</span>
            <p class="instagram"><i class='bx bxl-instagram bx-sm'></i> vaperhouse.vzla</p>
            <p class="facebook"><i class='bx bxl-facebook-circle bx-sm'></i> Vaper House Café</p>
          </div>
        </div>
      </div>
    </div>
    <section id="localidad">
      <div class="lugar">
        <p><i class='bx bx-map bx-sm'></i>  Barrio Obrero carrera 20 entre calles 13 y 14, diagonal al Cine Pirineos, frente a cada Matina</p>
        <p><i class='bx bxl-gmail bx-sm'></i> comprasvaperhouse@gmail.com</p>
        <p><i class='bx bx-phone bx-sm'></i> +58412-1729864 / +58414-7573307</p>
      </div>
    </section>
  </section>

  <!-- <div class="modal_bg">
    <div class="loader"></div>
    <div class="modal_content">
      <h1>ADVERTENCIA</h1>
      <p>Este sitio contiene productos que son indebidos para menores de edad. Confirma que tienes más de 18 años para poder acceder.</p>
      <p>¿Tienes 18 años o más?</p>
      <button id="yes">Sí</button>
      <button id="no">No</button>
    </div>
  </div> -->
</body>
<script src="{{ url_for('static', filename='js/confirm_age.js') }}"></script>
</html>