{% extends 'pages/base.html' %}
{% import 'macros/import_files.html' as files %}
{% import 'macros/other_sections.html' as sections %}

{% block title %} {{ super() }} {% endblock %}

{% block styles %}
  {{ files.render_links(sheets[name]['css']) }}
  {{ files.link_external(external) }}
{% endblock %}

{% block header %}
  {{ sections.header_section(logo.base, saldo, user, options, warning_msg) }}
{% endblock %}

{% block products %}
  {% if search['data'] %}
    <div class="container-main">
      <h1 class="busqueda">Resultados de la busqueda: <i>{{ q }}</i></h1><br>
      <p class="resu">Mostrando {{ cnt }} resultados</p>
      <hr>
      <p class="line"></p>

      <div class="container-search">
        {% for element in search['data'] %}
          <a href="/producto/{{ element._id }}">
            <div class="element">
              <div class="top-left">
                Vaper
              </div>
              <div class="image">
                <img src="/static/{{ products[1]['img'] }}" alt="">
              </div>
              <div class="title">
                <h3>{{ element.name }}</h3>
                <h5>[ {{ element.brand }} ]</h5>
              </div>
              <div class="description">
                <p>{{ element.description }}</p>
              </div>
              <div class="price">
                {% if user %}
                  {% if element.promotion %}
                    <span class="subrayado">${{ element.price }}</span>
                    <span class="price-promo">${{ element.promotionPrice }}</span>
                  {% else %}
                    <span class="price">${{ element.price }}</span>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="container-main">
      <h1 class="busqueda center">No se encontró ningún resultado relacionado a: <i>{{ q }}</i></h1><br>
      <p class="resu center">Intenta con otra palabra clave</p>
      <hr>
      <p class="line"></p>

      <h1 class="busqueda center">Otros productos relacionados:</h1><br>
      {{ sections.products_section(products, show_content=True) }}
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
  {{ sections.footer(info, politica, social, direccion, contacto, numeros) }}
{% endblock %}

{% block modal %}
  {{ sections.modal() }}
{% endblock %}

{% block scripts %}
  {{ files.render_scripts(sheets[name]['js']) }}
{% endblock %}